@model FootballStats.Web.ViewModels.Footballers.CreateFootballerInputModel
@{
    this.ViewData["Title"] = "Add new footballer";
    var positions = this.Model.Positions.Select(x => new SelectListItem(x.Key.ToString(), x.Value.ToString()));
    var countryItems = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
    var teamItems = this.Model.TeamItems.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}
<h1>@this.ViewData["Title"]</h1>

<form method="post" class="col-6 offset-3">
    <div asp-validation-summary="All" class=" text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position"></label>
        <select asp-for="Position" class="form-control" asp-items="positions"></select>
        <span asp-validation-for="Position" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamId"></label>
        <select asp-for="TeamId" class="form-control" asp-items="teamItems"></select>
        <span asp-validation-for="TeamId" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>
        <span asp-validation-for="CountryId" class=" text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>