<div class="col-md-9">
    <figure class="ritekhed-detail-thumb">
        <img src="extra-images/blog-detail-1.jpg" alt="">
        <figcaption>
            <div class="ritekhed-fixer-result">
                <ul>
                    <li>
                        <span>Liverpool FC</span>
                        <img src="extra-images/latest-result-1.png" alt="">
                        <span>Win</span>
                    </li>
                    <li>
                        <div class="ritekhed-result-time">
                            <div class="ritekhed-time-wrap">
                                5:2
                                <small>14 October 2013 23:00 (FT)</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>Real Madrid</span>
                        <img src="extra-images/latest-result-2.png" alt="">
                        <span>Loss</span>
                    </li>
                </ul>
            </div>
        </figcaption>
    </figure>
    