@model FootballStats.Web.ViewModels.League.CreateLeagueInputModel
@{ 
    this.ViewData["Title"] = "Add new league";
    var countryItems = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}
<h1>@this.ViewData["Title"]</h1>

<form method="post" class="col-6 offset-3">
    <div asp-validation-summary="All" class=" text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlImage"></label>
        <input asp-for="UrlImage" class="form-control" />
        <span asp-validation-for="UrlImage" class=" text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>
        <span asp-validation-for="CountryId" class=" text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>